// COLUMNAT A 16 EXTRA
// ----------------------

//espot utilitzar el row-fluid

// Afegeix un sistema de columnats extra a 16 particions complementari al de 12.
// class="span4-16"
// span3 = span4-16, span6 = span8-16, span9 = span12-16

/*
$gridColumnWidthExtra:     33px !default;
$gridColumnsExtra:         16 !default;

@mixin grid-extra($columnWidthExtra: $gridColumnWidthExtra, $gutterWidth: $gridGutterWidth) {
  .row {
    margin-left: $gutterWidth * -1;
    @include clearfix();
  }

  [class*="span"] {
    float: left;
    margin-left: $gutterWidth;
  }

  // Set the container width, and override it for fixed navbars in media queries
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    @include core-span($gridColumnsExtra, $columnWidthExtra, $gutterWidth);
  }

  // generate .spanX and .offsetX
  $iX: $gridColumnsExtra;
  @while $iX > 0 {
    .span#{$iX}-16 { @include core-span($iX, $columnWidthExtra, $gutterWidth); }
    $iX: $iX - 1;
  }

  $iX: $gridColumnsExtra;
  @while $iX > 0 {
    .offset#{$iX}-16 { @include core-offset($iX, $columnWidthExtra, $gutterWidth); }
    $iX: $iX - 1;
  }
}


@include grid-extra($gridColumnWidthExtra, $gridGutterWidth);

*/