
@media only screen and (max-device-width: 640px),
       only screen and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5)  { 
	/* adaptació imatge a protlet ample */
	.span6 .portlet-ampliat li > img,
	.span7 .portlet-ampliat li > img,
	.span8 .portlet-ampliat li > img,
	.span9 .portlet-ampliat li > img,
	.span10 .portlet-ampliat li > img,
	.span11 .portlet-ampliat li > img,
	.span12 .portlet-ampliat li > img {
	  margin: 0 0 10px;
	  max-width:100%;
	  float:none;
	}
}