// EXTENSIÓ CLASSES DE SISTEMA DE PLONE
// -------------------------



//taules de SISTEMA 
.listing {   
	@extend .table;
	@extend .table-condensed;
	@extend .table-striped;
	@extend .table-hover;
	@extend .table-bordered;
}



// EXTENSIO FROMS
// ----------------------
label {
  font-weight:bold;
  color: $genwebTitles;  
}
.formHelp {
  @extend  .s;
  @extend .muted;
  display:block;
  font-weight:normal;
}
.discreet {
	@extend .muted;
}
.visualClear {
	@extend .clearfix;
}
// botons
.context {
  @extend .btn;
  @extend .btn-primary;
}
.standalone, input[value^="Cancel"] {
  @extend .btn;
}

//formularis
.selected {
	@extend .active;
}
.fieldRequired {font-size: 0;}
.fieldRequired:after {font-size: 20px !important;}
.fieldRequired,
.required {
	&:after {
		color: $red;
		content: "*";
		top:.35em;
		position: relative;
		font-size:150%;		
		line-height: 0;
	}
}
.selected.required:after {color:$white;}
.field {
	margin-bottom: $baseLineHeight;
	& input[type="radio"],
	input[type="checkbox"] {
		margin:0 0 3px;
	}
}

#archetypes-fieldname-title {
	& label {
		@extend .xxxl;
	}
	& input {
		@extend .xxxl;
		@extend .input-xxlarge;
		height:27px;
	}
	& .required:after {


	}
}

.formControls, #actionsView {
	padding-top: 25px;
	@include box-shadow(0 -15px 15px -15px rgba(0,0,0,.25));
}

.searchButton {@extend .btn;}

div.label, label *.label {
	background:$white;
	text-shadow:none;
	font-size: 100%;
	color: $genwebTitles;
	white-space: normal;
}
input#title {font-weight:bold}

.template-personal-information [for="form.portrait"] ~ img {
	float:right;
	@extend .img-polaroid;
}

// MENUS INTERNS
.contentViews {
	@extend .nav;
	@extend .nav-tabs;
	& .selected, .selected:hover {
		@extend .active;
	}
}
#portlet-prefs {
	border:0;
	.portletHeader {
		display:none;
	}
	& dd {
		margin:0;
	}
}
.configlets {
	@extend .nav;
	@extend .nav-tabs;
	@extend .nav-stacked;
	& img {float:right;}
}
.contentActions {line-height: 0} //per si plone es deixa un espai



// PORTAL MESSAGE
// -----------------------
.portalMessage {
	@extend .alert;
	&.info {@extend .alert-info;}
	//&.warning  {@extend .alert-warning;}
	&.error {@extend .alert-error;}
	& dt, & dd {margin:0; display:inline;}
}

// PAGINATION
// -----------------------
.listingBar {@extend .pagination;}
.listingBar li:only-child{ display:none !important;}

// CONTACTE
// -----------------------
.img-mask {
	display: block;
	@include box-shadow(0 2px 5px rgba(0,0,0,.25));
	margin-top: 6px;
	width:222px;
	& iframe {
		-webkit-mask: image-url("mapa-mask.png") no-repeat center center;
	}

}
iframe {border:0 !important; display: block !important;}

// SITEMAP
// -----------------------
#portal-sitemap {
	@extend .unstyled;
	& > li {
		font-weight: bold; 
		font-size:normal; 
		margin-top:30px;
		@extend .xxxl;
		& > div {
			padding-bottom:10px;
			border-bottom:1px solid $tableBorder;
		}
		& a {
			color: $blue;
			&:after{
				content:" ";
				position:relative;
				width:14px;
				height:14px;
				display:inline-block;
				background:image-url("gh.png") -239px -143px no-repeat;
				margin-left:5px;
			}
		}
	}
	& ul {
		@include content-columns(3, 2em);
		-webkit-column-fill: auto;
		-moz-column-fill: auto;
		column-fill: auto;
		margin:0;
		& > li {
			@extend .xxs;
			font-weight: bold; 
			font-size:normal;
			list-style: none;
			margin:0 0 5px;
			padding:5px 0;
			-webkit-column-break-inside: avoid;
			-moz-column-break-inside: avoid;
			column-break-inside: avoid;
			& > div {
				padding-bottom:0;
				padding-top:5px;
			}
			& a {
				color: darken($blue,15%);
				&:after {
					content:none;
				}
			}	
		}
		& ul {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
		& > li li {
			padding:5px 9px;
			line-height:12px;
			font-weight: normal; 
			font-size:smaller; 


			& > div {
				padding-top:0;
			} 
			& a {
				color: $gray;
			}			
		}
	}
}

// Dashboard
#dashboard {@extend .row-fluid;}
#dashboard-portlets1, #dashboard-portlets2, #dashboard-portlets3, #dashboard-portlets4 {@extend .span3; float:left; margin-bottom: $baseLineHeight;}
#dashboard-portlets1, #dashboard-portlets2, #dashboard-portlets3 {margin-right: 30px;}

// plone_jscalendar
.plone_jscalendar .dk_container {display: inline-block;}
.plone_jscalendar .dk_toggle {width:100px !important;}
.plone_jscalendar .dk_options {min-width:128px !important; width:128px !important;}

// calenendar-system.css
/* The main calendar widget.  DIV containing a table. */

.calendar { position: relative; display: none; box-shadow: 0 0 100px black; border-radius:5px;}
.calendar table { background: #f2f2f2; border-radius:5px; min-width:222px;}
.calendar .button { text-align: center; background: #f2f2f2;}
.calendar .nav { background: #f2f2f2 url(menuarrow.gif) no-repeat 100% 100%;}
.calendar thead .title { font-weight: bold; text-align: center;}
.calendar thead .name { border-bottom: 1px solid #b2b2b2; border-top: 1px solid #b2b2b2; text-align: center; background: #f7f7f7;}
.calendar thead .weekend { color: #c00;}
.calendar thead .hilite { background: #cef;}
.calendar thead .active { box-shadow: inset 0 0 3px #08c;}
.calendar tbody {background: #fff;}
.calendar tbody .day {width: 2em; text-align: center; padding: 2px 0px;}
.calendar tbody .day.othermonth {font-size: 80%; color: #aaa;}
.calendar tbody .day.othermonth.oweekend { color: #faa;}
.calendar table .wn { border-right: 1px solid #b2b2b2; background: #f7f7f7;}
.calendar tbody .rowhilite td { background: #cef;}
.calendar tbody td.hilite { background: #08c; color: white;}
.calendar tbody td.active { box-shadow: inset 0 0 3px #08c;}
.calendar tbody td.selected { font-weight: bold; background: #08c; color: white;}
.calendar tbody td.weekend { color: #c00;}
.calendar tbody td.today { font-weight: bold; color: white; border-radius: 3px;}
.calendar tbody td.disabled { color: gray; }
.calendar tbody .emptycell { }
.calendar tbody .emptyrow { display: none; }

.calendar tfoot .ttip { background: #f7f7f7; border-top: 1px solid #b2b2b2; text-align: center;}
.calendar tfoot .hilite { background-color: #cef !important;}
.calendar tfoot .active { background-color: #08c !important;}

.calendar .combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  border: 1px solid;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  background: Menu;
  color: MenuText;
  font-size: 90%;
  padding: 1px;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  display: block;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  padding: 0px;
  border: 1px solid #000;
}

.calendar .combo .hilite {
  background: Highlight;
  color: HighlightText;
}

.calendar td.time {
  border-top: 1px solid ButtonShadow;
  padding: 1px 0px;
  text-align: center;
  background-color: ButtonFace;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: Menu;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: Highlight;
  color: HighlightText;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #080;
}
