// UPC NET TOQUEU AQUÍ
// -------------------

.hiddenStructure { display: none !important;}

.formTabs {
    @extend .nav;
    @extend .nav-pills;
}

// Revisar - Posat a ull
#ajax-spinner {
    width: 20px;
    height: 20px;
    position: fixed;
    background-position: center center;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}




.link-parent {
    //icon-chevron-left
    font-weight: bold;
    &:before {
        background: image-url("gh-c.png") no-repeat -241px -98px;
        content: " ";
        display: inline-block;
        height: 14px;
        margin-right: 3px;
        position: relative;
        top: 2px;
        width: 14px;
    }
}