@import "compass";

@import "compass_twitter_bootstrap/mixins";
@import "compass_twitter_bootstrap/variables"; // Modify this for custom colors, font-sizes, etc

@import "compass_twitter_bootstrap/sprites";


// GW
$genwebPrimary:         #007bc0 !default;
$genwebTitles:          #557C95 !default; 

//@import "base";
@import "nav";
@import "plantilles";
@import "leads";
@import "wells-boxes";
@import "lists";
@import "tables";
@import "texts";
@import "inputs";

@import "portlets";
//@import "plone";
//@import "gw3togw4";

@import "animations";
@import "mobile";
@import "retina";

//@import "edit";
@import "simulated-views";
//@import "empaquetats";

@import "ie";

//@import "upcnet";

@import "ui";

@import "print";







.width100 {width:100% !important; -moz-box-sizing:border-box;}
    .img_blank {opacity:.7;}
    a:hover .img_blank {opacity:1;} /*ff*/


b, strong {font-weight:bold;}

.titol-espai h1 {
	font-weight:200; 
    color:red;
}


.page-header {
    border-top: 1px solid #CCCCCC !important;
    border-bottom:0;
    box-shadow: 0 -8px 16px -16px rgba(0,0,0,.5) !important;
	}
.page-header h1 {color:#446a8e;}

